version: '3.8'

services:
  postgres:
    image: postgres:15-alpine
    container_name: z-gis-postgres
    environment:
      POSTGRES_PASSWORD: Dataknown!234
      POSTGRES_USER: root
      POSTGRES_DB: zgis_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: always

volumes:
  postgres_data:
    driver: local
